body{
background: rgba(201, 207, 209, 0.712);
font: normal Arial 15pt;

}

header{
    color: rgba(0, 0, 0, 0.452);
    text-align: center;
}
section{
    background: white;
    border-radius: 0px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow:  3px 3px 10px rgba(rgba(0, 0, 0, 0.658), green, blue, alpha);

}

footer{

color: white;
text-align: center;
font-style: italic;
}

div#res{
    text-align: center;
    align-items: center;


}
img{
 display: center;
 align-items: center;
 width: 500px;
 height: 500px;
}